@{
    ViewData["Title"] = "City List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
<form>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </span>

        <input type="text" class="form-control" placeholder="Search City..........." id="searchdata" />
    </div>
</form>

<br />
<form>
    <div class="row">
        <div class="mb-3 col-6">
            <label class="form-label">Country Name</label>
            <input type="text" name="CountryName" class="form-control">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label">State Name</label>
            <input type="text" name="StateName" class="form-control">
        </div> <div class="mb-3 col-6">
            <label class="form-label">City Code</label>
            <input type="text" name="CityCode" class="form-control">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label">City Name</label>
            <input type="text" name="CityName" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary col-1 " asp-area="City" asp-controller="LOC_City" asp-action="CitySearch">Apply filter</button>

    </div>

</form>

<br/>
<div class="card-body">
    <div class="pagetitle">
        <h1>Country List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active"><a asp-controller="LOC_City" asp-action="Index">City List</a></li>
            </ol>
        </nav>
    </div>
    <h5 class="card-title"></h5>

    <div class="card ">
            <div class="d-flex justify-content-between card-header">
            <h3>City Table</h3>
                <a class="btn btn-success" asp-area="City" asp-controller="LOC_City" asp-action="Add">Add New City</a>

            </div>
            <div class="card-body">
                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>CityID</th>
                            <th>CityName</th>
                            <th>CityCode</th>
                            <th>CreationDate</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["CityID"]</td>
                                <td>@dr["CityName"]</td>
                                <td>@dr["CityCode"]</td>
                                <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                                <td>
                                    <form method="post" asp-controller="LOC_Country" asp-action="Delete">
                                        <input type="hidden" name="CityID" value="@Convert.ToInt32(dr["CityID"])" />
                                        <button type="submit" class="btn btn-danger btn-xs" onclick="return fun1();">Delete</button>
                                        <a class="btn btn-success" asp-controller="LOC_City" asp-action="Add" asp-route-CityID="@Convert.ToInt32(dr["CityID"])">Edit</a>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

        </div>
    </div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchdata").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>C
        function confirmDelete(parameter) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
            }).then((result) => {
                if (result.isConfirmed) {
                    // User confirmed, proceed with deletion
                    $.ajax({
                        url: "@Url.Action("CityDelete", "City")" + "?&CityID=" + parameter,
                        type: "POST",
                        success: function (result) {
                            // Use SweetAlert to show a success message
                            Swal.fire({
                                title: "Deleted!",
                                text: "The city has been deleted.",
                                icon: "success",
                            }).then(() => {
                                // Redirect to the CityList action
                                window.location.href = "@Url.Action("CityList", "City")";
                            });
                        },
                        error: function () {
                            // Use SweetAlert to show an error message
                            Swal.fire({
                                title: "Error",
                                text: "An error occurred while deleting the city.",
                                icon: "error",
                            });
                        },
                    });
                }
            });
        }
    </script>
}



@*
    ﻿@{
    ViewData["Title"] = "City List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable


<div class="pagetitle">
    <h1>City List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"><a asp-controller="LOC_City" asp-action="Index">City List</a></li>

        </ol>
    </nav>
</div>

@if (TempData["LOC_City_Insert_Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["LOC_City_Insert_Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section class="section">
    <div class="card">
        <div class="card-body">
            <form class="row align-items-end rounded px-1" method="POST" asp-area="LOC_City" asp-controller="LOC_City" asp-action="Index" asp-route-filter="true">
                <div>
                    <h5 class="card-title"><i class="bi bi-funnel"></i> Filter</h5>
                </div>
                <hr />

                <div class="col-md-3">
                    <label for="CountryName" class="form-label">Country Name</label>
                    <input type="text" name="CountryName" class="form-control" id="CountryName" placeholder="e.g. India">
                </div>

                <div class="col-md-3">
                    <label for="StateName" class="form-label">State Name</label>
                    <input type="text" name="StateName" class="form-control" id="StateName" placeholder="e.g. Gujarat">
                </div>

                <div class="col-md-3">
                    <label for="CityName" class="form-label">City Name</label>
                    <input type="text" name="CityName" class="form-control" id="CityName" placeholder="e.g. Rajkot">
                </div>

                <div class="col-md-3">
                    <button type="submit" title="Search" class="btn btn-success w-100">Search <i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-gear"></i> City</h5>

                    <div class="row">
                        <div class="col-md-9">
                            <a asp-controller="LOC_City" asp-action="Add" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add City</a>
                        </div>

                        <div class="pull-right col-md-3">
                            <div id="sample_1_filter" class="dataTables_filter">
                                <input type="text" class="form-control input-group-sm input-small input-inline" id="sample_1" placeholder="Search" aria-controls="sample_1">
                            </div>
                        </div>
                    </div>
                    <hr />

                    <!-- Table with stripped rows -->
                    <table id="" class="table table-hover">
                        <thead>
                            <tr>
                                <th>City Name</th>
                                <th>City Code</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="sample_2">
                            @foreach (DataRow obj in Model.Rows)
                            {
                                <tr>
                                    <td>@obj["CityName"]</td>
                                    <td>@obj["CityCode"]</td>
                                    <td>@Convert.ToDateTime(obj["CreationDate"]).ToString("dd-MM-yyyy")</td>
                                    <td>@Convert.ToDateTime(obj["Modified"]).ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <form method="post" asp-area="LOC_City" asp-controller="LOC_City" , asp-action="Delete">
                                            <input type="hidden" name="CityID" value="@Convert.ToInt32(obj["CityID"])" />
                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')"><i class="fa fa-trash"></i></button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="get" asp-area="LOC_City" asp-controller="LOC_City" asp-action="Add">
                                            <input type="hidden" name="CityID" value="@Convert.ToInt32(obj["CityID"].ToString())">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-pen-to-square"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}*@
