@{
    ViewData["Title"] = "State List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
<form>
    <div class="mb-3 col-6">
        <label class="form-label">State Name</label>
        <input type="text" name="StateName" class="form-control">
    </div>
    <div class="mb-3 col-6">
        <label class="form-label">State Code</label>
        <input type="text" name="StateCode" class="form-control">
    </div>
    <div class="mb-3 col-6">
        <label class="form-label">Country Name</label>
        <input type="text" name="CountryName" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary col-1 " asp-area="State" asp-controller="LOC_State" asp-action="StateSearch">Apply filter</button>
</form>
<br />
<div class="card-body">
    <div class="pagetitle">
        <h1>Country List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active"><a asp-controller="LOC_State" asp-action="Index">State List</a></li>
            </ol>
        </nav>
    </div>
    <h5 class="card-title"></h5>

    <div class="card ">
        <div class="card ">
            <div class="d-flex justify-content-between card-header">
                <h3>State Table</h3>
                <a class="btn btn-success" asp-area="State" asp-controller="LOC_State" asp-action="Add">Add New State</a>

            </div>
            <div class="card-body">
                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>StateID</th>
                            <th>StateName</th>
                            <th>StateCode</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["StateID"]</td>
                                <td>@dr["StateName"]</td>
                                <td>@dr["StateCode"]</td>
                                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                                <td>
                                    <form method="post" asp-controller="LOC_Country" asp-action="Delete">
                                        <input type="hidden" name="CountryID" value="@Convert.ToInt32(dr["StateID"])" />
                                        <button type="submit" class="btn btn-danger btn-xs" onclick="return fun1();">Delete</button>
                                        <a class="btn btn-success" asp-controller="LOC_State" asp-action="Add" asp-route-StateID="@Convert.ToInt32(dr["StateID"])">Edit</a>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>
    </div>
@section Scripts
    {
    <script>
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}

﻿@*@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable

<div class="pagetitle">
    <h1>Country List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"><a asp-controller="LOC_Country" asp-action="Index">Country List</a></li>
        </ol>
    </nav>
</div>

@if (TempData["LOC_Country_Insert_Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["LOC_Country_Insert_Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<section class="section">
    <div class="card">
        <div class="card-body">
            <form class="row align-items-end rounded" method="POST" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="Index" asp-route-filter="true">
                <div>
                    <h5 class="card-title"><i class="bi bi-funnel"></i> Filter</h5>
                </div>
                <hr />

                <div class="col-md-5">
                    <label for="CountryName" class="form-label">Country Name</label>
                    <input type="text" name="CountryName" class="form-control" id="CountryName" placeholder="e.g. India">
                </div>

                <div class="col-md-5">
                    <label for="CountryCode" class="form-label">Country Code</label>
                    <input type="text" name="CountryCode" class="form-control" id="CountryCode" placeholder="e.g. India">
                </div>

                <div class="col-md-2">
                    <button type="submit" title="Search" class="btn btn-success w-100">Search <i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title"><i class="bi bi-gear"></i> Country</h5>
                    </div>


                    <div class="row">
                        <div class="col-md-9">
                            <a asp-controller="LOC_ State" asp-action="Add" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add Country</a>
                        </div>

                        <div class="col-md-3">
                            <div class="d-flex align-items-end">
                                <div class="portlet-body searchbox">
                                    <form asp-action="LOC_StateSearch" asp-controller="State" asp-area="LOC_State" method="post">
                                        <div class="input-group input-group-with-clear">
                                            <input type="search" name="searchKeyword" class="form-control" placeholder="Search..." />
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <!-- Table with stripped rows -->
                    <table id="" class="table table-hover">
                        <thead>
                            <tr>
                                <th>State Name</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="sample_2">
                            @foreach (DataRow obj in Model.Rows)
                            {
                                <tr>
                                    <td>@obj["StateName"]</td>
                                    <td>@Convert.ToDateTime(obj["Created"]).ToString("dd-MM-yyyy")</td>
                                    <td>@Convert.ToDateTime(obj["Modified"]).ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <form method="post" asp-area="State" asp-controller="LOC_State" , asp-action="Delete">
                                            <input type="hidden" name="StateID" value="@Convert.ToInt32(obj["StateID"])" />
                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')"><i class="fa fa-trash"></i></button>

                                        </form>
                                    </td>
                                    <td>
                                        <form method="get" asp-area="State" asp-controller="LOC_State" , asp-action="Add">
                                            <input type="hidden" name="StateID" value="@Convert.ToInt32(obj["StateID"])" />
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-pen-to-square"></i></button>
                                        </form>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}*@